<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30496158349-1o2v9232ig7f9rptf6e32lpup8r125d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30496158349-1o2v9232ig7f9rptf6e32lpup8r125d8</string>
	<key>API_KEY</key>
	<string>AIzaSyAbZHgFPFneEj7p3u7rtam9dGUA0Sfezi0</string>
	<key>GCM_SENDER_ID</key>
	<string>30496158349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp</string>
	<key>PROJECT_ID</key>
	<string>new-app-4d66d</string>
	<key>STORAGE_BUCKET</key>
	<string>new-app-4d66d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30496158349:ios:6324be1ade41d8fac768c4</string>
</dict>
</plist>